.App {
  text-align: center;
}

.madkting-header {
  border-top: 7px solid rgb(26, 149, 216);
  height: 74px;
  background-color: rgb(220, 218, 218);
  background-size: cover;
  background-position: top;
  position: relative;
}

.logo-box {
 position: absolute;
 top: 20px;
 left: 24px;
}

.logo {
  height: 35px;
}

th, td {
  border-bottom: 1px solid #ddd;
}

th, td {
  padding: 15px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:hover {
  background-color: #f5f5f5;
}

table.center {
  border-top: 3px solid rgb(26, 149, 216);
  margin-left:auto; 
  margin-right:auto;
  width: 65%;
  border-radius: 0.5rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: 90%;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  overflow-y: auto;
  border-radius: 1.3rem;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 50px;
  font-weight: bold;
  padding-right: 22px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.description {
  padding-left: 30%;
  padding-right: 30%;
  text-align: center;
  overflow: hidden;
  width: 45%;
  max-width: 40%;
  line-height: 2.3rem;
}

.detail-Title {
  padding-left: 38%;
  padding-right: 38%;
  border-bottom: 1px solid #e9ecef;
  padding-bottom: 20px;
}